body {
  font-family: sans-serif;
}

.container {
  max-width: 300px;
  background-color: rgb(223, 223, 223);
  padding: 15px 30px;
  margin: 200px auto 0;
  border-radius: 8px;
  border: 1px solid darkgray;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

select {
  padding: 3px;
  border-radius: 4px;
  cursor: pointer;
}

select:focus {
  outline: 1px auto gray;
}
