:root {
  --bc--color: #ed2251;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  background-color: var(--bc--color);
  height: 100px;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

header > h1 {
  margin: 0 auto;
  color: white;
}

main {
  width: 500px;
  margin: auto;
  background-color: var(--bc--color);
  color: white;
  padding: 30px 0;
  border-radius: 12px;
  border: 2px solid rgb(48, 48, 48);
}

#container {
  margin: auto;
  width: 300px;
}

main h2 {
  margin: 0;
  font-size: 16px;
}

main input {
  margin: 6px 0 20px;
}

#buttons {
  margin-bottom: 16px;
}

#buttons button {
  background-color: aliceblue;
  padding: 6px 16px;
  border: none;
  border-radius: 8px;
  margin-right: 12px;
  cursor: pointer;
}

#buttons button:hover {
  background-color: #ff003c;
  color: white;
  box-shadow: 1px 1px 6px white;
}

#res {
  font-size: 20px;
}
